body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight:bold;
}

.img-medium {
    height: 300px;
}
.button{
    background-color:mediumblue;
    padding:10px 32px;
    display:inline-block;
    color:white;
    border-style:none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration:none;
}
.three{
    background-image:url("/ui/tree.jpeg");
    background-position:top left;
     background-repeat: no-repeat;
}
.para{
    margin-left:600px;
    font-size:50px;
}
.back{
    background-image:url("/ui/back.jpeg");
    background-repeat:no-repeat;
}